<div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
  <h1 class="text-3xl font-bold underline p-4">Sistema de votos para comunidades</h1>
  <form class="flex items-center space-x-6">
    <div class="shrink-0">
      <img class="h-16 w-16 object-cover rounded-full" src="../assets/img/excel.png" alt="excel img" />
    </div>
    <label class="block">
      <span class="sr-only">Choose profile photo</span>
      <input type="file" 
      class="block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-violet-50 file:text-violet-700
      hover:file:bg-violet-100" (change)="readExcelFile($event)">
    </label>
  </form>
</div>