/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.w-80-p100 {
    width: 80%;
}

.h-3-em {
    height: 3em;
}

.border-radius-10 {
    border-radius: 10px;
}

.spinner {
    margin: 0 auto;
}

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.login {
    width: 100%;
    max-width: 360px;
    text-align: center;
}